/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}
/*reset ends*/
:root {
	font-family: Andika, Ubuntu, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid green;
	padding: 50px 0px 50px 80px;
	border-radius: 1rem;
}

input,
select,
form h1,
form p {
	margin-bottom: 20px;
	width: 250px;
}

button {
	width: 110px;
	border: none;
	padding: 10px 0px;
}

button,
select,
input {
	border-radius: 0.5rem;
}

input:valid,
select:valid {
	border: 2px solid green;
}

input:invalid,
select:invalid {
	border: 2px solid red;
}

input:focus:valid,
select:focus:valid {
	border: 2px solid green;
}

input:focus:invalid,
select:focus:invalid {
	border: 2px solid red;
}

.hidden {
	display: none;
}

.parent {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;
	align-items: center;
}

.div1 {
	grid-area: 1 / 1 / 2 / 4;
}
.div2 {
	grid-area: 2 / 1 / 3 / 4;
}
.div3 {
	grid-area: 3 / 1 / 4 / 4;
}
.div4 {
	grid-area: 4 / 1 / 5 / 4;
}
.div5 {
	grid-area: 5 / 1 / 6 / 4;
}
.div6 {
	grid-area: 1 / 4 / 2 / 5;
}
.div7 {
	grid-area: 2 / 4 / 3 / 5;
}
.div8 {
	grid-area: 3 / 4 / 4 / 5;
}
.div9 {
	grid-area: 4 / 4 / 5 / 5;
}
.div10 {
	grid-area: 5 / 4 / 6 / 5;
}
.div11 {
	width: 250px;
	grid-area: 6 / 1 / 7 / 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.div12 {
	grid-area: 6 / 4 / 7 / 5;
}
.formelement {
	display: flex;
	flex-direction: column;
}
